---
layout: default
---

<div class="home">
  <div class="full-hero hero-home">
    <div class="hero-content">
      <h1>Smell the Roses</h1>
      <!--ul class="social-list">
        <li>
          <a href="http://example.com/" class="social-link">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="http://example.com/" class="social-link">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="http://example.com/" class="social-link">
            <i class="fa fa-github"></i>
          </a>
        </li>
      </ul-->
    </div>
  </div>

  <div class="home-callout">
    <h1 class="callout-title">Smell the Roses</h1>
    <div class="callout-copy">
      <p>
        Portland is a great place to smell the roses and a graduation is a great time. Mari has completed her long and arduous dental training and is now <em>qualified to practice Periodontology!</em> <strong>Hoorah</strong>!

        View the photo gallery at the <b>Mari's Graduation</b> link in case you weren't there. 
    </div>
  </div>

  <!--div class="home-section">
    <h4>Most recent post</h4>
    {% for post in site.posts limit:1 %}
      {% include post-excerpt.html %}
    {% endfor %}

  </div-->

  <!--div class="home-section">
    <h2>THE HESLINGAS</h2>
    <p>
      The Heslingas are interesting people you should get to know. 
    </p>

    <div class="bio-wrapper">
      <div class="bio-box">
        <img src="https://via.placeholder.com/150">
        <h3>Dan Heslinga</h3>
        <a href="https://twitter.com/dan_heslinga" class="social-link">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://linkedin.com/in/dan-heslinga" class="social-link">
          <i class="fa fa-twitter"></i>
        </a>
        <div class="bio-copy">
          <p>
            Dan Heslinga is a retired guy who grew up in Oskaloosa, Iowa and now lives in Honoliulu. 
          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="https://via.placeholder.com/150">
        <h3>Germaine Uehara</h3>
        <a href="https://twitter.com/germaine_uehara" class="social-link">
          <i class="fa fa-twitter"></i>
        </a>
        <div class="bio-copy">
          <p>
            Germaine earns her credentials to the Heslinga family by way of marriage to Dan. In exchange she lets Dan live in Hawaii. 
          </p>
        </div>
      </div>
    </div>
  </div-->
</div>
