<li><a href="/">Home</a></li>
<!--li><a href="/gallery">Mari's Graduation</a></li>
<li><a href="/gallery2">The Netherlands</a></li-->
<!--BEFORE-->
<!--li class="dropdown">
  <a class="drop-trigger" href="/blog">Blog</a>
  <ul class="drop-menu">
    <li>Recent Posts</li>
    {% for post in site.posts limit:5 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</li>
<li><a href="{{ site.posts.first.url }}">Newest Post</a></li-->
<!--AFTER-->
<li class="dropdown">
  <a class="drop-trigger" href="/">Galleries</a>
  <ul class="drop-menu">
    <li>Photo Galleries</li>
	<li><a href="/gallery">Mari's Graduation</a></li>
	<li><a href="/gallery2">Leeuwarden</a></li>
  </ul>
</li>
<!--li><a href="{{ site.posts.first.url }}">Newest Post</a></li-->
